*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family:sans-serif;
    background-image: url('bg.jpg');
    background-size: cover;
}

.btn_row{
    text-align: center;
    margin-top: 300px;
}


button{
    font-family: sans-serif;
    padding: 10px 15px;
    margin: 15px;
    border:none;
    background-color:rebeccapurple;
    color: white;
    transition: width 0.7s, height 0.7s;
}


button:hover {
    
    outline: none;
    cursor: pointer;
}